In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np
import sys
import matplotlib

%matplotlib inline

In [2]:
print('Python version ' + sys.version)
print('Pandas version: ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 2.7.13 |Continuum Analytics, Inc.| (default, May 11 2017, 13:17:26) [MSC v.1500 64 bit (AMD64)]
Pandas version: 0.21.0
Matplotlib version 1.4.3

In [5]:
np.seed(111)

def CreateDataSet(Number=1):
    Output = []
    
    for i in range(Number):
        rng = pd.date_range(start='1/1/2009', end='12/31/2012', freq='W-MON')
        
        data = np.randint(low=25, high=1000, size=len(rng))
        
        status = [1, 2, 3]
        
        random_status = [status[np.randint(low=0, high=len(status))] for i in range(len(rng))]
        
        states = ['GA', 'FL', 'fl', 'NY', 'NJ', 'TX']
        
        random_states = [states[np.randint(low=0, high=len(states))] for i in range(len(rng))]
        
        Output.extend(zip(random_states, random_status, data, rng))
        
    return Output

In [6]:

dataset = CreateDataSet(4)

df = pd.DataFrame(data=dataset, columns = ['State', 'Status', 'CustomerCount', 'StatusDate'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 4 columns):
State            836 non-null object
Status           836 non-null int64
CustomerCount    836 non-null int64
StatusDate       836 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 26.2+ KB

In [7]:
df.head()

  State  Status  CustomerCount StatusDate
0    GA       1            877 2009-01-05
1    FL       1            901 2009-01-12
2    fl       3            749 2009-01-19
3    FL       3            111 2009-01-26
4    GA       1            300 2009-02-02

In [9]:
#pip install openpyxl
df.to_excel('Lession3.xlsx', index=False)

In [10]:
## Read from Excel

In [13]:
#pip install xlrd
df = pd.read_excel('./Lession3.xlsx', index_col='StatusDate')

In [14]:
df.dtypes

State            object
Status            int64
CustomerCount     int64
dtype: object

In [15]:
df.index

DatetimeIndex(['2009-01-05', '2009-01-12', '2009-01-19', '2009-01-26',
               '2009-02-02', '2009-02-09', '2009-02-16', '2009-02-23',
               '2009-03-02', '2009-03-09',
               ...
               '2012-10-29', '2012-11-05', '2012-11-12', '2012-11-19',
               '2012-11-26', '2012-12-03', '2012-12-10', '2012-12-17',
               '2012-12-24', '2012-12-31'],
              dtype='datetime64[ns]', name=u'StatusDate', length=836, freq=None)

In [16]:
df.head()

           State  Status  CustomerCount
StatusDate
2009-01-05    GA       1            877
2009-01-12    FL       1            901
2009-01-19    fl       3            749
2009-01-26    FL       3            111
2009-02-02    GA       1            300

In [17]:
df['State'].unique()

array([u'GA', u'FL', u'fl', u'TX', u'NY', u'NJ'], dtype=object)

In [18]:
df['State'] = df.State.apply(lambda x: x.upper())

In [19]:
df['State'].unique()

array([u'GA', u'FL', u'TX', u'NY', u'NJ'], dtype=object)

In [21]:
##Filter

In [22]:
mask = df['Status'] == 1
df = df[mask]

In [24]:
#convert NJ to NY
mask = df.State == 'NJ'
df['State'][mask] = 'NY'