## 程序员是否和性别有关

卡方验证

### 假设无关 （原假设，null hypothesis）

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.DataFrame(data = [['Male', 12, 230, 242],['Female', 2, 245, 247]], columns=['Sex', 'Developer', 'NonDeveloper', 'Total'])

In [6]:
data.head()

      Sex  Developer  NonDeveloper  Total
0    Male         12           230    242
1  Female          2           245    247

In [9]:
np.sum(data)

Sex             MaleFemale
Developer               14
NonDeveloper           475
Total                  489
dtype: object

In [11]:
### 男女程序员数量应该为
male_dev = (14.0/489) * 242
female_dev = (14.0/489) * 247
print male_dev, female_dev

6.92842535787 7.07157464213

In [12]:
### 男女非程序员数量为
male_nondev = (475.0/489) * 230
female_nondev = (475.0/489) * 245
print male_nondev, female_nondev

223.415132924 237.985685072

In [13]:
x2 = (12-6.928)**2 / 6.928 + (230 - 235.072) ** 2 / 235.072 + (2-7.072) ** 2 / 7.072 + (245 - 237.928) ** 2 / 237.928

In [14]:
print x2

7.67046861763

In [15]:
7.67 > 6.63 # 99%的把握推翻原假设

True